In [1]:
if 3 > 2:
    print("ITS TRUE")

ITS TRUE

In [2]:
hungry = True

if hungry:
    print("FEED ME")

FEED ME

In [5]:
hungry = False

if hungry:
    print("FEED ME")
else:
    print("Im not hungry")

Im not hungry

In [11]:
location = 'Store'

if location == 'Auto Shop':
    print('Cars are cool')
elif location == 'Bank':
    print('Money is cool')
elif location == 'Store':
    print('Welcome to the store')
else:
    print('i do not know much')

Welcome to the store

In [12]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie')
elif name == 'Bobby':
    print('Hello Bobby')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print('what is your name')

Hello Sammy

In [13]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [15]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [16]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in [1,2,3]:
    print(i)

1
2
3

In [18]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [20]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number {num}')

Odd Number 1
2
Odd Number 3
4
Odd Number 5
6
Odd Number 7
8
Odd Number 9
10

In [21]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd Number {}'.format(num))

Odd Number 1
2
Odd Number 3
4
Odd Number 5
6
Odd Number 7
8
Odd Number 9
10

In [24]:
list_sum = 0
for num in mylist:
    list_sum +=  num
    
print(list_sum)

55

In [23]:
list_sum

55

In [26]:
name = 'Hello World'

for letter in name:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [27]:
for l in 'Hello World':
    print(l)

H
e
l
l
o

W
o
r
l
d

In [28]:
for i in [1,2,3,4]:
    print('Cool!')

Cool!
Cool!
Cool!
Cool!

In [29]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [30]:
tup = (1,2,3)

In [31]:
for item in tup:
    print(item)

1
2
3

In [35]:
mylist = [(1,2), (3,4), (5,6), (7,8)]
len(mylist)

4

In [36]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [38]:
# tuple unpacking
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [39]:
mylistoftuples = [(1,2,3),(5,6,7),(8,9,10)]

In [40]:
for a,b,c in mylistoftuples:
    print(b)

2
6
9

In [41]:
d = {'k1':1, 'k2':2, 'k3':3}

In [42]:
for item in d:
    print(item)

k1
k2
k3

In [43]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [45]:
for k,v in d.items():
    print(v)

1
2
3

In [46]:
for value in d.values():
    print(value)

1
2
3

In [61]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X is not less than 5")

X is not less than 5

In [52]:
b = [1,2,3]

for item in b:
    # placeholder to avoid an error
    pass

print('end of my script')

end of my script

In [53]:
mystring = 'Sammy'

In [54]:
for letter in mystring:
    print(letter)

S
a
m
m
y

In [55]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [56]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [59]:
m = 0

while m < 5:
    print(m)
    m += 1

0
1
2
3
4

In [60]:
m = 0

while m < 5:
    if  m == 2:
        break
    print(m)
    m += 1

0
1

In [63]:
for num in range(1,5,1):
    print(num)

1
2
3
4

In [64]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [65]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [67]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [68]:
# cast to list
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [70]:
index_count = 0
for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [71]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [72]:
for letter in enumerate(word):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [73]:
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [79]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']
mylist3 = [100,200,300,400,500]

In [80]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

In [82]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400), (5, 'e', 500)]

In [83]:
for a,b,c in zip(mylist1, mylist2, mylist3):
    print(c)

100
200
300
400
500

In [84]:
'x' in [1,2,3]

False

In [85]:
'x' in 'avxfr'

True

In [86]:
'x' in 'avXfq'

False

In [87]:
2 in [1,2,3]

True

In [88]:
'b' in ['b', 'c', 'a']

True

In [89]:
'mykey' in { 'mykey': 1 }

True

In [92]:
d = { 'k': 5 }

5 in d.values()

True

In [91]:
5 in d.keys()

False

In [93]:
numbers = [10,20,30,40,50]

In [94]:
min(numbers)

10

In [95]:
max(numbers)

50

In [96]:
from random import shuffle

my_list = [1,2,3,4,5,6,7,8,9]

In [97]:
shuffle(my_list)

In [98]:
print(my_list)

[6, 9, 8, 7, 3, 4, 2, 1, 5]

In [99]:
from random import randint

In [100]:
randint(0,100)

7

In [101]:
randint(0,100)

29

In [102]:
randint(0,100)

6

In [103]:
randint(0,100)

35

In [104]:
mynum = randint(0,100)

In [105]:
mynum

73

In [106]:
mynum

73

In [107]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [110]:
result = input('What is your name? ')

What is your name? Jose

In [111]:
result

'Jose'

In [117]:
favourite_num = int(input('What is your favourite number? '))

What is your favourite number? 30

favourite_num

In [118]:
favourite_num

30

In [119]:
type(favourite_num)

int

In [120]:
int(favourite_num)

30

In [121]:
float(favourite_num)

30.0