In [1]:
2+1

3

In [2]:
3/2

1.5

In [3]:
2*2

4

In [4]:
7 / 4

1.75

In [5]:
7 % 3

1

In [6]:
9 % 2

1

In [7]:
50 % 5

0

In [8]:
4 - 2

2

In [9]:
3-9

-6

In [10]:
23 % 2

1

In [11]:
2 ** 2

4

In [12]:
2 ** 5

32

In [13]:
2 + 20 * 20 + 3

405

In [14]:
(2 + 10) * 20 + 3

243

In [15]:
a = 5

In [16]:
a

5

In [17]:
a = 7

In [18]:
a

7

In [19]:
a + a

14

In [20]:
a

7

In [24]:
a = a + a

In [22]:
a

14

In [23]:
a

14

In [25]:
a

28

In [26]:


a

28

In [27]:
type(a)

int

In [28]:
a = 30.1

In [29]:
type(a)

float

In [30]:
a = "ben"

In [31]:
type(a)

str

In [32]:
int = 4

In [33]:
int

4

In [34]:
type(int)

int

In [1]:
a

NameError: name 'a' is not defined

In [2]:
a = "list"

In [3]:
a

'list'

In [4]:
a = 5

In [5]:
a

5

In [6]:
my_income = 100

In [7]:
tax_rate = 0.1

In [8]:
my_taxes = my_income * tax_rate

In [9]:
my_taxes

10.0

In [10]:
b = "smithfield"

In [11]:
b[0:5:1]

'smith'

In [12]:
b[0:6:2]

'sih'

In [13]:
b

'smithfield'

In [14]:
"world"

'world'

In [15]:
' this is also a string '

' this is also a string '

In [16]:
"don't do this"

"don't do this"

In [17]:
' i"m going on a run '

' i"m going on a run '

In [18]:
" I'm going on a run "

" I'm going on a run "

In [19]:
print("hello")

hello

In [20]:
print("hello")

hello

In [21]:
"hello world one"

'hello world one'

In [22]:
print("hello one")

hello one

In [23]:
print("hello one")
print("hello two")

hello one
hello two

In [24]:
print("hello one\n bird")

hello one
 bird

In [25]:
print("hello world")

hello world

In [26]:
print("hello \n world")

hello
 world

In [27]:
print("hello\nworld")

hello
world

In [28]:
print('don\'t')

don't

In [29]:
len('hello')

5

In [30]:
len(' hello')

6

In [31]:
mystring = "Hello World"

In [32]:
len(mystring)

11

In [33]:
mystring

'Hello World'

In [34]:
mystring[0]

'H'

In [35]:
mystring[8]

'r'

In [36]:
mystring[-2]

'l'

In [37]:
mystring[9]

'l'

In [38]:
mystring[-3]

'r'

In [39]:
mystring[-10]

'e'

In [40]:
myString[-11]

NameError: name 'myString' is not defined

In [41]:
mystring[-11]

'H'

In [42]:
mystring[-12]

IndexError: string index out of range

In [43]:
mystring = 'abcdefghijk'

In [44]:
mystring

'abcdefghijk'

In [45]:
mystring[2:]

'cdefghijk'

In [46]:
mystring[:3]

'abc'

In [47]:
mystring[:-2]

'abcdefghi'

In [48]:
mystring[3:6]

'def'

In [49]:
mystring[1:3]

'bc'

In [50]:
mystring[-4:-2]

'hi'

In [51]:
mystring[::]

'abcdefghijk'

In [52]:
mystring[::2]

'acegik'

In [53]:
mystring[::3]

'adgj'

In [54]:
mystring

'abcdefghijk'

In [55]:
mystring[2:7:2]

'ceg'

In [56]:
mystring[::-1]

'kjihgfedcba'

In [57]:
name = "Sam"

In [58]:
name

'Sam'

In [59]:
name[0] = "P"

TypeError: 'str' object does not support item assignment

In [60]:
name[1:]

'am'

In [61]:
last_letters = name[1:]

In [62]:
last_letters

'am'

In [63]:
'P' + last_letters

'Pam'

In [64]:
x = "Hello World"

In [68]:
x = x + " it is beautiful outside"

In [69]:
x

'Hello World it is beautiful outside it is beautiful outside'

In [70]:
x

'Hello World it is beautiful outside it is beautiful outside'

In [71]:
letter = "z"

In [72]:
letter * 10

'zzzzzzzzzz'

In [73]:
2 + letter

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [74]:
x = "Hello World"

In [75]:
x

'Hello World'

In [76]:
x.upper()

'HELLO WORLD'

In [77]:
x.upper

In [78]:
x

'Hello World'

In [79]:
x

'Hello World'

In [80]:
x.lower()

'hello world'

In [81]:
x.upper

In [82]:
x.split()

['Hello', 'World']

In [83]:
x

'Hello World'

In [84]:
x.split("l")

['He', '', 'o Wor', 'd']

In [85]:
x = "Hi this is a string"

In [86]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [87]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [88]:
x.split("i")

['H', ' th', 's ', 's a str', 'ng']

In [89]:
print("This is a string {}".format('INSERTED'))

This is a string INSERTED

In [92]:
print("The {0} {0} {0}".format('fox','brown','quick'))

The fox fox fox

In [93]:
print("The {q} {b} {f}".format(f="fox",b="brown",q="quick"))

The quick brown fox

In [94]:
result = 100/777

In [95]:
result

0.1287001287001287

In [108]:
print("The result was {r:1.2f}".format(r=result))

The result was 104.12

In [106]:
result = 104.12345

In [109]:
name = "Jose"

In [110]:
print("Hello, my name is {}".format(name))

Hello, my name is Jose

In [111]:
print(f"Hello, his name is {name}")

Hello, his name is Jose

In [112]:
name = "sam"

In [113]:
age = 3

In [114]:
print(f"My name is {name}, my age is {age}")

My name is sam, my age is 3

In [115]:
my_list = [1,2,3]

In [116]:
my_list

[1, 2, 3]

In [117]:
print(my_list)

[1, 2, 3]

In [118]:
my_list = ['john', 100, 32.3]

In [119]:
my_list

['john', 100, 32.3]

In [120]:
my_list.len()

AttributeError: 'list' object has no attribute 'len'

In [121]:
len(my_list)

3

In [122]:
my_list[0]

'john'

In [123]:
mylist = ['one','two','three']

In [124]:
mylist[0]

'one'

In [125]:
mylist[::]

['one', 'two', 'three']

In [126]:
mylist[::-1]

['three', 'two', 'one']

In [127]:
mylist

['one', 'two', 'three']

In [128]:
mylist[1:]

['two', 'three']

In [129]:
mylist

['one', 'two', 'three']

In [130]:
another_list = ['four','five']

In [131]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [132]:
mylist

['one', 'two', 'three']

In [133]:
another_list

['four', 'five']

In [134]:
new_list = mylist + another_list

In [135]:
new_list

['one', 'two', 'three', 'four', 'five']

In [136]:
new_list * 2

['one', 'two', 'three', 'four', 'five', 'one', 'two', 'three', 'four', 'five']

In [137]:
new_list

['one', 'two', 'three', 'four', 'five']

In [138]:
new_list

['one', 'two', 'three', 'four', 'five']

In [139]:
new_list[0] = 'ONE ALL CAPS'

In [140]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [141]:
new_list[0] = 2

In [142]:
new_list

[2, 'two', 'three', 'four', 'five']

In [143]:
new_list[2] = 3

In [144]:
new_list

[2, 'two', 3, 'four', 'five']

In [145]:
new_list.append("six")

In [146]:
new_list

[2, 'two', 3, 'four', 'five', 'six']

In [147]:
new_list.pop("2")

TypeError: 'str' object cannot be interpreted as an integer

In [148]:
new_list.pop(0)

2

In [149]:
new_list

['two', 3, 'four', 'five', 'six']

In [150]:
new_list.remove("two")

In [151]:
new_list

[3, 'four', 'five', 'six']

In [152]:
new_list.pop()

'six'

In [153]:
new_list

[3, 'four', 'five']

In [154]:
popped_item = new_list.pop()

In [155]:
popped_item

'five'

In [156]:
new_list

[3, 'four']

In [157]:
new_list

[3, 'four']

In [158]:
new_list = ['one','two','three','four','five']

In [159]:
new_list

['one', 'two', 'three', 'four', 'five']

In [160]:
new_list = ["a", "e", "x", "b","c"]

In [161]:
num_list = [4,5,3,2,8]

In [162]:
new_list.sort()

In [163]:
new_list

['a', 'b', 'c', 'e', 'x']

In [164]:
new_list.sort()

In [165]:
my_sorted_list = new_list

In [166]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [167]:
num_list

[4, 5, 3, 2, 8]

In [168]:
num_list.sort()

In [169]:
num_list

[2, 3, 4, 5, 8]

In [170]:
num_list.reverse()

In [171]:
num_list

[8, 5, 4, 3, 2]

In [172]:
num_list.pop()

2

In [173]:
my_dict = {'key1':'value1','key2':'value2'}

In [174]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [175]:
my_dict['key1']

'value1'

In [176]:
prices_lookup = {'apple':2.99, 'banana':1.99, 'milk': 2.10}

In [177]:
prices_lookup['apple']

2.99

In [178]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'inside':100}}

In [179]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'inside': 100}}

In [180]:
d['k2']

[0, 1, 2]

In [181]:
d.k2

AttributeError: 'dict' object has no attribute 'k2'

In [182]:
d.'k2'

SyntaxError: invalid syntax (<ipython-input-182-ea53fff1eca7>, line 1)

In [183]:
d['k3']['insideKey']

KeyError: 'insideKey'

In [184]:
d['k3']['inside']

100

In [185]:
d['k2'][2]

2

In [186]:
d = {"key1": ['a','b','c']}

In [187]:
d['key1']

['a', 'b', 'c']

In [188]:
d['key1'][-1].upper()

'C'

In [189]:
d['key1'][2].upper()

'C'

In [190]:
d = {'k1': 100, 'k2':200}

In [191]:
d

{'k1': 100, 'k2': 200}

In [192]:
d['k3'] = 300

In [193]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [194]:
d['k1'] = 'New Value'

In [195]:
d

{'k1': 'New Value', 'k2': 200, 'k3': 300}

In [196]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [197]:
d.values()

dict_values(['New Value', 200, 300])

In [198]:
d.items()

dict_items([('k1', 'New Value'), ('k2', 200), ('k3', 300)])

In [199]:
type(d)

dict

In [200]:
type(d.items())

dict_items

In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [5]:
len(t)

3

In [6]:
t

(1, 2, 3)

In [7]:
t = ('one',2)

In [8]:
t[1]

2

In [9]:
t[-1]

2

In [10]:
t = ('a','a','b')

In [11]:
t.count()

TypeError: count() takes exactly one argument (0 given)

In [12]:
t.count('a')

2

In [13]:
t.index('a')

0

In [14]:
mylist[0] = 'NEW'

In [15]:
mylist

['NEW', 2, 3]

In [16]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [17]:
s = "hello"

In [18]:
s[1] = 'c'

TypeError: 'str' object does not support item assignment

In [19]:
myset = set()

In [20]:
myset

set()

In [21]:
myset.add(1)

In [22]:
myset

{1}

In [23]:
myset.add(1)

In [24]:
myset

{1}

In [25]:
myset.add(2)

In [26]:
myset

{1, 2}

In [27]:
myset.add(2)

In [28]:
myset

{1, 2}

In [29]:
myset.add(1)

In [30]:
myset.add('m')

In [31]:
myset

{1, 2, 'm'}

In [32]:
mylist = [1,1,1,1,2,2,2,3,3,3]

In [33]:
mylist

[1, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [34]:
set(mylist)

{1, 2, 3}

In [35]:
mylist

[1, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [36]:
False

False

In [37]:
type(False)

bool

In [38]:
1 == 1

True

In [39]:
"cat" == 'cat'

True

In [40]:
1 > 5

False

In [41]:
1>= 1

True

In [42]:
b = None

In [43]:
b

In [44]:
b

In [45]:
b

In [46]:
b

In [47]:
l

NameError: name 'l' is not defined